@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

.courses-grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 15px;
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
}

.courses-header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1em;
  text-align: center;
  color: #00c354;
}

.courses-grid-container h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  margin: 0;
  margin-bottom: 1.5em;
}

.courses-display-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.courses-display-card {
  min-width: 100px;
  min-height: 300px;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  transition: flex-grow 0.5s, filter 0.25s ease;
}

.courses-display-card-active {
  flex-grow: 5;
}

.courses-display-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(1);
  z-index: 0;
  transition: filter 0.25s ease;
}

.courses-display-card-content {
  display: flex;
  align-items: center;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 20px;
  overflow: hidden;
  transition: all 0.25s ease;
  z-index: 10;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.courses-display-card-active > .courses-display-card-content {
  inset: 20px;
  top: auto;
}

.courses-display-profile-image {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.courses-display-title {
  white-space: nowrap;
  margin-left: 10px;
  color: rgb(110, 252, 205);
}

.courses-display-backdrop {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  z-index: 5;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
}

.new-neon-button {
  position: relative;
  text-transform: uppercase;
  color: rgb(110, 252, 205);
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.05);
  overflow: hidden;
  background: #0c002b;
  font-family: sans-serif;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.new-neon-button span {
  position: absolute;
  display: block;
}

.new-neon-button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #0c002b, rgb(110, 252, 205));
  animation: animate1 2s linear infinite;
}

.new-neon-button span:nth-child(2) {
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #0c002b, rgb(110, 252, 205));
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

.new-neon-button span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #0c002b, rgb(110, 252, 205));
  animation: animate3 2s linear infinite;
}

.new-neon-button span:nth-child(4) {
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #0c002b, rgb(110, 252, 205));
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

.courses-display-card-active .courses-display-profile-image {
  border-color: rgb(110, 252, 205);
}
.courses-display-card-active .courses-display-profile-image > svg {
  stroke: rgb(110, 252, 205);
}
@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
