.test-display-container {
  flex-grow: 1;
  margin-right: 100px;
  background-color: #f9f9f9;
  overflow-y: auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 20px;
}

.test-display-title {
  text-align: center;
  margin-bottom: 15px;
}

.test-display-description {
  font-size: 1rem;
  margin-bottom: 15px;
  text-align: justify;
}

.test-display-questions {
  margin-top: 20px;
}

.test-display-question {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  font-size: 24px;
}

.test-display-question-text {
  margin-bottom: 10px;
}

.test-display-options {
  list-style-type: none;
  padding: 0;
}

.test-display-option,
.test-display-option-correct {
  padding: 5px 10px;
  margin-bottom: 5px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.test-display-option-correct {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.test-display-option {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.test-loading,
.test-error,
.test-no-data {
  text-align: center;
  font-size: 1rem;
}
.test-display-flex-container {
  display: flex;
}
.test-content {
  width: -webkit-fill-available;
  max-width: 1600px;
}
