.test-card {
  background: #ffffff;
  border-radius: 10px; /* Adjust as needed for your design */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* This gives a subtle shadow */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Adjust padding as needed */
  margin: 20px; /* Space between cards if you have a grid */
  transition: transform 0.3s ease-in-out; /* For a hover effect if you want */
}

.test-card:hover {
  transform: translateY(-5px); /* Optional hover effect */
}

.test-logo {
  max-width: 80px; /* Adjust the size as needed */
  margin-bottom: 16px; /* Space below the logo */
}

.test-status {
  background-color: #4caf50; /* Green background for the 'Submitted' status */
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 0.8em;
  margin-bottom: 16px; /* Space below the status badge */
  align-self: flex-start; /* Position to the left */
}

.test-title {
  font-size: 1.5em; /* Larger font size for the title */
  color: #333;
  margin-bottom: 4px; /* Space between title and subtitle */
}

.test-subtitle {
  font-size: 1em;
  color: #666;
}
