.edit-profile-container {
  max-width: 1000px;
  margin: auto;
  padding: 40px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: "Poppins", sans-serif;
}

.edit-profile-container .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.edit-profile-container .form-group.half-width {
  flex-direction: row;
  justify-content: space-between;
}

.edit-profile-container .form-group.half-width > div {
  flex: 1;
}

.edit-profile-container input,
.edit-profile-container select {
  width: calc(50% - 10px);
  margin: 0 5px;
  padding: 15px;
  border: none;
  border-bottom: 2px solid #eaeaea;
  font-size: 14px;
}

.edit-profile-container input:focus,
.edit-profile-container select:focus {
  border-bottom-color: #00c354;
  outline: none;
}

.edit-profile-container .form-group.full-width > input,
.edit-profile-container .form-group.full-width > select {
  width: 100%;
  margin: 0;
}

.edit-profile-container .profile-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.edit-profile-container .profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.edit-profile-container .edit-image-button {
  background-color: #00c354;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 10px;
}

.edit-profile-container .form-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.edit-profile-container .cancel-button,
.edit-profile-container .save-button {
  flex: 1;
  padding: 15px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.edit-profile-container .cancel-button {
  background-color: #eaeaea;
  color: #333;
}

.edit-profile-container .save-button {
  background-color: #00c354;
  color: white;
}
.edit-profile-container label {
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
@media (max-width: 768px) {
  .edit-profile-container {
    padding: 20px;
  }

  .edit-profile-container .form-group.half-width {
    flex-direction: column;
  }

  .edit-profile-container .form-buttons {
    flex-direction: column;
  }

  .edit-profile-container .cancel-button,
  .edit-profile-container .save-button {
    width: 100%;
    margin-bottom: 15px;
  }
}
