.welcome-page {
  text-align: left;
}
.welcome-section-one {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-top: 100px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 180px;
  margin-right: 180px;
  padding: 50px 100px;
}

.text-content h1 {
  font-size: 93px;
  color: #2c3e50;
  margin-bottom: 20px;
}
.text-content {
  text-align: left;
  margin-right: 50px;
}
.text-content p {
  font-size: 24px;
  color: #34495e;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 28px;
  cursor: pointer;
  border-radius: 25px;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: #43a047;
}

.image-content img {
  max-width: 550px;
  height: auto;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    text-align: center;
  }

  .image-content img {
    margin-top: 30px;
  }
}
.green-text {
  color: #00c354;
}

.white-text {
  color: grey;
}

.welcome-section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.section-two-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 180px;
  padding: 50px 100px;
  flex-direction: row-reverse;
}

.section-two-text-content h1 {
  font-size: 48px;
  color: #2c3e50;
  margin-bottom: 20px;
  font-size: 73px;
  color: grey;
}

.section-two-text-content p {
  font-size: 24px;
  color: #34495e;
  margin-bottom: 30px;
}
.section-two-text-content {
  text-align: left;
  padding-left: 100px;
}
.section-two-cta-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 28px;
  cursor: pointer;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.section-two-cta-button:hover {
  background-color: #43a047;
}

.section-two-image-content img {
  max-width: 600px;
  height: auto;
}

@media (max-width: 768px) {
  .section-two-content-container {
    flex-direction: column;
    text-align: center;
  }

  .section-two-image-content img {
    margin-top: 30px;
  }
}
