.test-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 100px;
  background-color: transparent;
  font-size: 24px;
}

.test-header-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.test-logo {
  width: 100px;
  margin-right: 10px;
}

.timer-icon {
  margin-right: 5px;
}

.test-header-timer {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}
