.footer {
  width: 100%;
  padding: 40px 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Syne", sans-serif;
  background-color: #fff;
  margin-top: 10px;
  font-size: 20px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.footer-logo-contact {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.footer-address,
.footer-contact {
  margin: 0;
  padding: 0.25rem 0;
  font-size: 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.footer-links a {
  color: black;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-bottom {
  width: 100%;
  border-top: 1px solid black;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-top: 20px;
}

.footer-legal-links {
  display: flex;
}

.footer-legal-links a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
}

/* Social Icons */
.social-icons ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 5px;
}

.social-icons .item {
  width: 48px;
  height: 48px;
  background-color: #f0f9fe;
  border: 3px solid #f0f9fe;
  overflow: hidden;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons .item a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons .item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.5s ease;
}

.social-icons .item:hover a::before {
  transform: scaleY(1);
}

.social-icons .icon {
  font-size: 20px;
  color: #00c354;
  z-index: 2;
  transition: color 0.55s ease, transform 0.55s ease;
}

.social-icons .item:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.social-icons .facebook {
  --bg-color: #0077b5;
}
.social-icons .instagram {
  --bg-color: #ff0000;
}
.social-icons .twitter {
  --bg-color: #1da1f2;
}
.social-icons .linkedin {
  --bg-color: #2867b2;
}

@media (max-width: 768px) {
  .footer-section {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo-contact {
    align-items: center;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .footer-links {
    align-items: center;
    margin-right: 0;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-legal-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-legal-links a {
    margin: 0.5rem 0;
  }
}
